<main>
        <div class="todo">
            <div class="contenido">
                <img src="images/cursos/pasteleriaNivel1.jpg" alt="">
                <a href="/contacto"><h4 class="paste1">Pasteleria 1</h4></a>
            </div>
            <div class="contenido">
                <img src="images/cursos/pasteleriaNivel2.jpg" alt="">
                <a href="/contacto"><h4 class="paste2">Pasteleria 2</h4></a>
            </div>
            <div class="contenido">
                <img src="images/cursos/panaderia.jpg" alt="">
                <a href="/contacto"><h4 class="panaderia">Panaderia</h4></a>
            </div>
            <div class="contenido">
                <img src="images/cursos/mesaDulce.jpg" alt="">
                <a href="/contacto"><h4 class="mesa">Mesas dulces</h4></a>
            </div>
        </div>
    </main>