<div class="contencion">
    <div class="titulo">
        <p>Galeria</p>
    </div>
</div>
<div class="imagenes">
        <div class="images">
            <img src="images/galeria/photo1.jpg" alt="">
        </div>
        <div class="images">
            <img src="images/galeria/photo2.jpg" alt="">
        </div>
        <div class="images">
            <img src="images/galeria/photo3.jpg" alt="">
        </div>
        <div class="images">
            <img src="images/galeria/photo4.jpg" alt="">
        </div>
        <div class="images">
            <img src="images/galeria/photo5.jpg" alt="">
        </div>
        <div class="images">
            <img src="images/galeria/photo6.jpg" alt="">
        </div>
        <div class="images">
            <img src="images/galeria/photo7.jpg" alt="">
        </div>
        <div class="images">
            <img src="images/galeria/photo8.jpg" alt="">
        </div>
        <div class="images">
            <img src="images/galeria/photo9.jpg" alt="">
        </div>
</div>
