<main>
    <div class="fondoImagenInicio">
        <div>
            <img src="images/index/fondo.jpg" alt="">
        </div>
        <h1>Bienvenidos a la Pasteleria Delicias</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt quam distinctio sint veniam voluptatem
            necessitatibus quo impedit soluta blanditiis autem, ipsam sed repudiandae incidunt corporis quas
            dignissimos iure et pariatur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam excepturi
            voluptatum sapiente maiores ab distinctio recusandae nostrum quibusdam ipsa tempore doloribus dolorem
            cumque, beatae officiis, inventore ullam eaque voluptate eum?</p>

        <div class="opiniones">
            <h3>Recomendaciones: </h3>
            <div class="comentarios">
                <p>"Excelente servicio" - Florencia</p>
                <p>"Muy recomendable, muy rico y fresco todo" - Lorenzo</p>
                <p>"Gracias por todo!" - Sol</p>
            </div>
        </div>
    </div>
</main>
