<div class="contenedor_productos">
    <h1>Menu</h1>
    <div class="productos">
        <div class="producto">
        {{#each menu}}
            <div class="sector">
                <h4>{{titulo}}</h4>
                <p>{{cuerpo}}</p>
            </div>
        {{/each}}
        </div>
    </div>
</div>