<section>
    <div class="card rotaIzq">
        <img src="images/nosotros/nosotros1.jpg" alt="imagen card1">
        <h2>Laura Josele</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dicta excepturi suscipit magni
            quasi,
            dolorem obcaecati? Laboriosam dolor at similique aliquam, corporis quod odit mollitia autem, illum
            alias
            vel. Adipisci.</p>
    </div>
    <div class="card rotaDer">
        <img src="images/nosotros/nosotros2.jpg" alt="imagen card2">
        <h2>Roberto Gonzalez</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dicta excepturi suscipit magni
            quasi,
            dolorem obcaecati? Laboriosam dolor at similique aliquam, corporis quod odit mollitia autem, illum
            alias
            vel. Adipisci.</p>
    </div>
    <div class="card rotaIzq">
        <img src="images/nosotros/nosotros3.jpg" alt="imagen card1">
        <h2>Natalia Mendez</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dicta excepturi suscipit magni
            quasi,
            dolorem obcaecati? Laboriosam dolor at similique aliquam, corporis quod odit mollitia autem, illum
            alias
            vel. Adipisci.</p>
    </div>
    <div class="card rotaDer">
        <img src="images/nosotros/nosotros4.jpg" alt="imagen card2">
        <h2>Roxana Gonzalez</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dicta excepturi suscipit magni
            quasi,
            dolorem obcaecati? Laboriosam dolor at similique aliquam, corporis quod odit mollitia autem, illum
            alias
            vel. Adipisci.</p>
    </div>

</section>